<p>
  <b>Вид отчетности:</b>
  <%=h @reporting.rtype %>
</p>

   <%= link_to 'Показать', group_reportings_path (@group) %> |
<%= link_to 'Редактировать', edit_group_reporting_path(@group, @reporting) %> |
<%= link_to 'Назад', group_reportings_path(@group) %>
